---
layout: base.njk
---

<p style="color:red; font-weight:bold;">
ARTICLE.NJK IS RENDERING
</p>

<article class="article-content">

  <header class="article-header">
    <h1>{{ title }}</h1>

    {% if excerpt %}
      <p><em>{{ excerpt }}</em></p>
    {% endif %}

    {% if author %}
      <p><strong>By {{ author }}</strong></p>
    {% endif %}

    {% if date %}
      <p>
        <time datetime="{{ date }}">
          {{ date | readableDate }}
        </time>
      </p>
    {% endif %}
  </header>

  <main class="article-body">
    {{ content | safe }}
  </main>

   {% if tags %}
  <div class="article-tags">
    <p>Tagged:</p>
    <div>
      {% for tag in tags %}
        <a href="/tags/{{ tag | slug }}/">{{ tag }}</a>
      {% endfor %}
    </div>
  </div>
  {% endif %}

</article>



