---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for page in collections.all %}
  {%- if not page.data.eleventyExcludeFromCollections %}
  <url>
    <loc>https://www.marginsdevotionals.com{{ page.url }}</loc>
    <lastmod>{{ page.date | isoDate }}</lastmod>
    {%- if page.url == '/' %}
    <priority>1.0</priority>
    {%- elif page.url.includes('/start-here/') %}
    <priority>0.9</priority>
    {%- else %}
    <priority>0.8</priority>
    {%- endif %}
  </url>
  {%- endif %}
{%- endfor %}
</urlset>
